.results {
    overflow: auto;
    display: flex;
    justify-content: center;
    flex: 8 8 auto;
    height: 430px;
    margin-bottom: 2em;
}

.headers {
    background-color: rgb(144, 177, 228);
}

.nums {
    background-color: white;
}

.restricted {
    background-color: red;
}

.R {
    background-color: #CD69B8;
}

.W {
    background-color: #F9F793;
}

.P {
    background-color: #F2868E;
}

.S {
    background-color: lightblue;
}

.bluetext {
    color: blue;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.small {
    font-size: small;
}

table {
    border: 0;
    text-align: center;
}

* {
    font-size: normal;
}

h1 {
    text-align: center;
    font-size: xx-large;
}