.searchbox {
    float: left;
}

.addbox {
    float: right;
}

.spacer {
    background-color: black;
    width: 3px;
    min-height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
}

.boxes {
    display: flex;
    flex-direction: row;

    margin-top: 0px;
}

.top_container {
    display: flex;
    flex-direction: column;
}