<div name="addform" class="center">
  <a name="add"></a>
  <form (ngSubmit)="doAddOrEdit()" id="add">
    <TABLE>
      <TR>
        <TD align=center colspan=6><H2>{{addOrEdit()}}</H2></TD>
        <TD class="right"><INPUT type=checkbox name="multi"></TD>
        <TD class="left">Multiple</TD>
      </TR>
      <TR>
        <TD class="right">Winery: </TD>
        <TD class="left" colspan=5>
          <input class="form-control" name="winery" [(ngModel)]="theBottle.winery" [attr.size]="40" [attr.value]="theBottle.winery" id="winery">
        </TD>
        <TD class="right">Year: </TD>
        <TD class="left">
          <select [(ngModel)]="theBottle.year" size=1 class="form-control" name="year">
            <option *ngFor="let yr of years" 
              [value]="yr.id"
              [attr.selected]="theBottle.year==yr.id ? true : null">
              {{yr.name}}
            </option>
          </select>
        </TD>
    </TR>
    <TR>
      <TD class="right">Varietal: </TD>
      <TD class="left" colspan=5>
            <input class="form-control" name="varietal" [(ngModel)]="theBottle.varietal" [attr.size]="40" [attr.value]="theBottle.varietal" id="varietal">
        </TD>
      <TD class="right">Size: </TD>
      <TD class="left">
        <select [(ngModel)]="theBottle.size" size=1 class="form-control" name="sz">
          <option *ngFor="let size of sizes" 
            [value]="size"
            [attr.selected]="theBottle.size==size ? true : null">
            {{size}}
          </option>
        </select>
      </TD>
    </TR>
    <TR>
      <TD class="right">Vineyard: </TD>
      <TD class="left" colspan=5>
        <input class="form-control" name="vineyard" [(ngModel)]="theBottle.vineyard"  [attr.size]="40" [attr.value]="theBottle.vineyard" id="vineyard">
      </TD>
      <TD class="right">Price: </TD>
      <TD class="left">
        <input class="form-control" name="price" [(ngModel)]="theBottle.price" [attr.size]="10" [attr.value]="theBottle.price" id="price">
      </TD>
    </TR>
    <TR>
      <TD class="right">Location: </TD>
      <TD class="left">
        <select [(ngModel)]="theBottle.rack" size=1 class="form-control" name="rack">
          <option *ngFor="let rack of racks" 
            [value]="rack.id"
            [attr.selected]="theBottle.rack==rack.id ? true : null">
            {{rack.name}}
          </option>
        </select>
      </TD>
      <TD class="right">Pri: </TD>
      <TD class="left">
        <input class="form-control" name="pri" [(ngModel)]="theBottle.pri" [attr.size]="2" [attr.value]="theBottle.pri" id="pri">
      </TD>
      <TD class="right">Sec: </TD>
      <TD class="left">
        <input class="form-control" name="sec" [(ngModel)]="theBottle.sec" [attr.size]="2" [attr.value]="theBottle.sec" id="sec">
      </TD>
      <TD colspan=2>
        <input class="form-control" type="radio" name="t" value="R" [(ngModel)]="theBottle.t">Red
        <input class="form-control" type="radio" name="t" value="W" [(ngModel)]="theBottle.t">White
        <input class="form-control" type="radio" name="t" value="P" [(ngModel)]="theBottle.t">Rose
        <input class="form-control" type="radio" name="t" value="S" [(ngModel)]="theBottle.t">Sparkling
      </TD>
    </TR>
    <TR>
      <TD class="right">Drink Min: </TD>
      <TD class="left">
        <input class="form-control" name="dbmin" [(ngModel)]="theBottle.drinkMin" [attr.size]="4" [attr.value]="theBottle.drinkMin" id="drinkmin">
      </TD>
      <TD class="right">Drink Max: </TD>
      <TD class="left">
        <input class="form-control" name="drinkby" [(ngModel)]="theBottle.drinkMax" [attr.size]="4" [attr.value]="theBottle.drinkMax" id="drinkmax">
      </TD>
      <TD class="right">Score: </TD>
      <TD class="left">
        <input class="form-control" name="score" [(ngModel)]="theBottle.score" [attr.size]="3" [attr.value]="theBottle.score" id="score">
      </TD>
      <TD class="right">Restrict?</TD>
      <TD class="left">
        <input class="form-control" type="checkbox" name="restr" [(ngModel)]="theBottle.restricted">
      </TD>
    </TR>
    <TR>
      <TD class="right">Region: </TD>
      <TD class="left" colspan=4>
        <select [(ngModel)]="theBottle.region" [attr.size]="1" class="form-control" name="region">
          <option *ngFor="let region of regions" 
            [value]="region.id"
            [attr.selected]="theBottle.region==region.id ? true : null">
            {{region.name}}
          </option>
        </select>
      </TD>
      <TD colspan=3>&nbsp;</TD>	
    </TR>
    <TR>
      <TD class="right">Notes: </TD>
      <TD class="left" colspan=7>
        <textarea [(ngModel)]="theBottle.note" class="form-control" rows=4 cols=70 name=notes id=notes wrap=soft></textarea>
      </TD>
    </TR>
    <TR>
      <TD align=right colspan=5>
        <button type="submit" [disabled]="validateForm()">{{addOrEditButton()}}</button>
      </TD>
      <TD colspan=3 align=left>
        <input type=button value="Cancel" (click)="doCancel()">
      </TD>
    </TR>
    <TR>
      <TD colspan=8>&nbsp;</TD>
    </TR>
    </TABLE>
  </form>
</div>