<div name="searchform" class="searchform">
    <FORM (ngSubmit)="doSearch()">
        <TABLE>
          <TR>
            <TD colspan=4 class="center"><h2>Search</h2></TD>
          </TR>
          <TR>
            <TD class="right">Vineyard: </TD>
            <TD class="left">
              <select [(ngModel)]="query.vineyards" size=3 multiple class="form-control" name="vineyard">
                <option value="Any">Any</option>
                <option *ngFor="let vineyard of vineyards" 
                  [value]="vineyard">
                  {{vineyard}}
                </option>
              </select>
            </TD>
            <TD class="right">Year: </TD>
            <TD class="left">
              <select [(ngModel)]="query.years" size=3 multiple class="form-control" name="year">
                <option *ngFor="let yr of years" 
                  [value]="yr.id">
                  {{yr.name}}
                </option>
              </select>
            </TD>
        </TR>
        <TR>
          <TD class="right">Variety: </TD>
          <TD class="left">
            <select [(ngModel)]="query.varietals" size=3 multiple class="form-control" name="variety">
              <option value="Any">Any</option>
              <option *ngFor="let varietal of varietals" 
                [value]="varietal">
                {{varietal}}
              </option>
            </select>
          </TD>
          <TD class="right">Show: </TD>
          <TD class="left">
            <select [(ngModel)]="query.show" size=1 class="form-control" name="show">
              <option selected>Current
              <option>Drunk
              <option>Recent
              <option>All
              </select>
          </TD>
        </TR>
        <TR>
          <TD class="right">Location: </TD>
          <TD class="left">
            <select [(ngModel)]="query.rack" size=1 class="form-control" name="location">
              <option [value]=0 selected>Any</option>
              <option *ngFor="let rack of racks" 
                [value]="rack.id">
                {{rack.name}}
              </option>
            </select>
          </TD>
          <TD class="right">Type: </TD>
          <TD class="left">
            <select [(ngModel)]="query.t" size=1 class="form-control" name="type">
              <option value=A selected>Any
              <option value=R>Red
              <option value=W>White
              <option value=P>Rose
              </select>
          </TD>
        </TR>
        <TR>
          <TD class="right">Region: </TD>
          <TD class="left">
            <select [(ngModel)]="query.regions" size=5 multiple class="form-control" name="region">
                <option value="Any">Any</option>
                <option *ngFor="let region of regions" 
                  [value]="region.id">
                  {{region.name}}
                </option>
            </select>
          </TD>
          <TD colspan=2>&nbsp;</TD>
        </TR>
        <TR>
          <TD class="right">Notes: </TD>
          <TD class="left" colspan=3>
              <input class="form-control" name="notes" [(ngModel)]="query.note" [attr.size]="40">
          </TD>
        </TR>
        <TR>
          <TD align=center colspan=2>
              <input type=button value="Search" (click)="doSearch(0)">&nbsp;<INPUT type=button value="I'm Feeling Lucky" (click)="doSearch(1)">
          </TD>
        </TR>
        <TR><TD colspan=4>&nbsp;</TD></TR>
      </TABLE>
    </FORM>
</div>